<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/data">Show data</a><br><br>
    <h2>Scraper</h2>
    <form action="/test" method="post">
      Name: <input type="text" name="name" placeholder="Enter Url"><br>
      URL: <input type="text" name="url" placeholder="Enter Url"><br>
      <h3>Hooks:</h3>
      <div id="hooks">
        <li id="hook">
          Name:<input type="text" name="names">
          Selector:<input type="text" name="selectors">
          Callback:
          <select name="callbacks">
            <option value="get_text">Get Text</option>
            <option value="get_href">Get HREF</option>
            <option value="get_content">Get Content</option>
          </select> 
        </li>
      </div>
      <li><button type="button" onclick="add_hook()">Add Hook</button></li><br>
      <input type="submit" value="Scrape">
    </form>
  </body>
</html>

<script>
  function add_hook() {
    var element = document.getElementById("hooks");
    element.appendChild(element.lastElementChild.cloneNode(true));
  }
</script>
